.select{
  font-weight: bolder;
  padding: 1em;
}
.total{
  background-color: blue;
}
.main{
  background-color: white;
  width: 60%;
  margin:auto;
  display:grid;
  align-items: center;
  justify-content: center ;

}
.select-1{
  padding: 1em 0;
}
.select-2{
  border: 2px solid gainsboro;
}
input{
 border-top: none;
 border-left: none;
 border-right: none;
 padding: 0 3em;
}
select{
  border-top: none;
 border-left: none;
 border-right: none;
 border-bottom: 2px solid gray; 
 
}
.radio{
  padding: 0 1em 1em 1em;
  font-weight: bolder;
}
.radio-1{
  margin: 0 0.5em;
}
.radio-2{
  font-weight: bolder;
  padding: 1em 1.5em;
}
.add{
  text-align: right;
}
.add button{
  border-radius:50px;
  width: 80px;
  height: 40px;
}

input[type="text"],input[type="date"],input[type="time"],select{
  width: 100%;
}
